<div class="width-full footer " style="background-color: #434242;">
    <div class="container-xxl">
      <div class="footer-dark">
        <footer>
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Các hảng sản phẩm</h3>
              <ul>
                <li><a href="#">Web design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Hosting</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>Về chúng tôi</h3>
              <ul>
                <li><a href="#">+84 337678852</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>LightSpeed</h3>
              <p>Chào mừng bạn đến với LightSpeed - Trải nghiệm mua sắm giày đỉnh cao, nơi mỗi đôi giày không chỉ là sản
                phẩm, mà là biểu tượng của phong cách và cái tôi của bạn. Hãy bước vào thế giới đầy sáng tạo và đẳng
                cấp, nơi LightSpeed mang đến cho bạn những trải nghiệm đặc sắc nhất.</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                  class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
                href="#"><i class="icon ion-social-instagram"></i></a></div>
          </div>
          <p class="copyright">LightSpeed © 2018</p>
        </footer>
      </div>
    </div>
  </div>
</body>
</html>